

body {
  background-color: #C7C7C7;
}

#app{
  background-color: #fff;
  padding: 0;
}

#app #main{
  padding: 20px;
}

#app .bg-color-black{
  background-color: #000000;
}

.bg-color-card{
  background-color: #3f4142;
}

#app .bg-brand{
  background-color: #fff;
  border-top: solid #C50039 7px;
  border-bottom: solid #C50039 7px;
  text-align: center;
}

//Navbar
@import './includes/nav';
